<nav>
    <div class="logo">
        <span><strong>Bus</strong>Ticket</span>
    </div>
    <div class="menu">
        <a href="home.html">Home</a> <a href="ticket.html">Shop</a> <a
                href="#">Services</a> <a href="contact.html">Contact</a>
    </div>
    <div class="user-menu">

        <div class="user-dropdown">
            <button class="dropbtn">
                <div class="user-pic">
                    <i class="bi bi-person-circle"></i>
                </div>
            </button>
            <ul class="user-dropdown-content">
                <li><i class="bi bi-person"></i><a th:href="@{/profile}">Profile</a></li>
                <li><i class="bi bi-gear"></i><a href="#"> Settings</a></li>
                <li><i class="bi bi-box-arrow-right"></i><a href="#">
                    Logout</a></li>
            </ul>
        </div>
    </div>
</nav>