
<nav>
	<div class="logo">
		<span><strong>Bus</strong>Ticket</span>
	</div>
	<div class="menu">
		<a href="home.html">Home</a> <a href="ticket.html">Shop</a> <a
			href="#">Services</a> <a href="">Contact</a>
	</div>
	<div class="btn-login">
		<button type="button" data-bs-toggle="modal"
			data-bs-target="#loginModal">Login</button>
	</div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="login-form">
					<input type="email" id="email" name="email" required
						placeholder="Email"> <input type="password" id="password"
						name="password" required placeholder="Password">
					<div class="checkbox">
						<input type="checkbox" id="agree" name="agree" required> <label
							for="agree">Remember passwords</label> <a href="">Forgot
							password ?</a>
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
					<hr>
					<div class="social-login">
						<button class="twitter-login">
							<i class="bi bi-twitter-x"></i>Sign in with Twitter
						</button>
					</div>
					<div class="social-login">
						<button class="google-login">
							<i class="bi bi-google"></i>Sign in with Google
						</button>
					</div>
					<div class="register">
						<p>
							You don't have an account ? <strong><a
								href="dang_ky.html" data-bs-toggle="modal"
								data-bs-target="#registerModal">Sign up</a></strong>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="registerModal" tabindex="-1"
	aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="registerModalLabel">Sign Up</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body1">

				<form action="#" method="post">
					<input type="email" id="username" name="username" required
						placeholder="Username"> <input type="email" id="email"
						name="email" required placeholder="Email"> <input
						type="email" id="password" name="password" required
						placeholder="Password"> <input type="password"
						id="confirm-password" name="confirm-password" required
						placeholder="Confirm password">
					<div class="checkbox">
						<input type="checkbox" id="agree" name="agree" required> <label
							for="agree">I agree with the<strong> policies
								and conditions of use</strong> services of the Website
						</label>
					</div>

					<button type="submit" class="btn btn-primary">Sign Up</button>
				</form>
				<div class="btn-dang_nhap">
					<span>You already have an account <a href="dang_nhap.html"
						data-bs-toggle="modal" data-bs-target="#loginModal">Sign in</a></span>
				</div>
			</div>
		</div>
	</div>
</div>