
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signin</title>
</head>

<body>
	<div class="container mt-5 pt-5 w-50 mx-auto">
		<div th:if="${message}" th:text="${message}" class="alert alert-warning my-3"></div>
			<form class="custom_form_container" method="post" action="/fgpw/view">
        <div class="custom_title_container">
					<p class="custom_title">Forgot Password</p>
				</div>
				<br>
				<div class="custom_input_container" style="margin-bottom: 20px;">
					 <input
						placeholder="name@mail.com" title="Inpit title" name="email"
						type="email" class="custom_input_field" id="email">
				</div>
				<button title="Sign In" type="submit" class="custom_sign-in_btn">
					<span>Send</span>
				</button>
				<p class="custom_note">
					<strong><a href="/nextgen.com/login">Sign in</a></strong>
				</p>
			</form>
		</div>
</body>

</html>
