
  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::body})}">
  
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  </head>
  
  <body>
  <div>
  <div class="container">
	<h1>FORGOT PASSWORD</h1>
  
	<form action="/fgpw/view" method="post">
	  <label >Email:</label>
	  <input type="text" name="email" th:required="required">
  
	  <button type="submit">SEND</button>
	</form>
  
  <!--   <p>The new password will be sent via your email</p> -->
  </div>
  <div th:if="${message}" class="success-message">
	  <p th:text="${message}"></p>
  </div>
  <div th:if="${error}" class="success-message">
  <p th:text="${error}"></p>
  </div>
  </div>
  </body>
  
  </html>