<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::body})}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
</head>
  
<body>

  <div class="container">
    <div class="card" style="margin-top: 200px; width: 500px;">
      <h1>FORGOT PASSWORD</h1>

      <form action="/fgpw/view" method="post">
        <label>Email:</label>
        <input class="form-control fluid" style="width: 100%; " type="text" name="email" th:required="required" placeholder="Your Email">

      <button class="btn btn-success mt-3 mb-3" style="margin-left: 41%;" type="submit">SEND</button>
      <a th:href="@{/nextgen.com/login}" style="text-decoration: none; color: rgb(107, 107, 176); margin-left: 46%;">Sign up</a>
      </form>

        <!-- <p style="color: black; margin-left: 80px;">The new password will be sent to your email</p> -->

       <div th:if="${message}" class="success-message">
        <p th:text="${message}" style="color: black; margin-left: 80px;"></p>
      </div>
      <div th:if="${error}" class="success-message">
        <p th:text="${error}" style="color: black; margin-left: 180px;"></p>
      </div>
    </div>
  </div>

</body>

</html>

