<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::body})}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Publisher</title>
</head>

<body>
	<div class="d-block mt-3" style="min-height: 700px;">
		<div class="img-header">
			<img th:src="@{/img/Baby Taylor Finn1.png}" alt="">
		</div>
		<div class="form-contact">
			<form th:object="${ticket}" action="/nextgen.com/publisher/submit" method="post" enctype="multipart/form-data">
				<div class="mb-3">
					<label for="ticketID" class="form-label">Ticket Name</label> 
					<input th:field="*{name}" type="text" class="form-control" id="ticketname" name="name" required>
				</div>
				<div class="mb-3">
					<label for="genre" class="form-label">Publisher</label> 
					<input type="text" class="form-control" th:value="${account.publisher.name}" disabled>
					<input th:field="*{publisher.id}" style="display: none">
				</div>

				<div class="mb-3">
					<label for="ticketImage" class="form-label">Ticket Image</label> 
					<input  th:field="*{imageFile}" type="file" class="form-control" id="ticketimage" name="ticketImage" accept="image/*" required>
				</div>
				<div class="mb-3">
					<label for="Ticketcategories" class="col-form-label">Ticket
									categories </label> <select class="form-control" id="selectOption"
									th:field="*{type.id}">
									<option th:each="type : ${types}" th:value="${type.id}"
										th:text="${type.name}">Option</option>
								</select>
				</div>

				<div class="mb-3">
					<label for="price" class="form-label">Price</label> 
					<input th:field="*{price}" type="number" class="form-control" id="price" required>
				</div>
				<div class="mb-3">
					<label for="shelftime" class="form-label">Shelf Time</label> 
					<input th:field="*{shelftime}" type="text" class="form-control" id="shelftime" required>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Description</label>
					<textarea th:field="*{description}" class="form-control" id="description" rows="3" required></textarea>
				</div>
				<button type="submit" class="btn btn-primary" >Submit</button>
			</form>
		</div>
	</div>
</body>

</html>
