<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
</head>

<body>
	<div class="mt-5 pt-5 w-50 mx-auto">
		<div th:if="${message}" th:text="${message}" class="alert alert-warning my-3"></div>
		<form class="form_container" action="/signup" method="post" th:object="${account}">
			<div class="title_container">
				<p class="title">Sign Up for an Account</p>
				<span class="subtitle">Create your account and get started
					with our app.</span>
			</div>
			<br>
			<div class="input_container">
				<div class="flex-row">
					<div class="input_container_half">
						<label class="input_label" for="first_name">First Name</label>
						<input placeholder="First Name" name="firstName" type="text" class="input_field" id="firstName"
							th:field="*{firstName}">
					</div>
					<div class="input_container_half">
						<label class="input_label" for="last_name">Last Name</label>
						<input placeholder="Last Name" name="lastName" type="text" class="input_field" id="lastName"
							th:field="*{lastName}">
					</div>
				</div>
			</div>
			<div class="input_container">
				<label class="input_label" for="email_field">Email</label>
				<input placeholder="name@mail.com" name="email" type="email" class="input_field" id="email"
					th:field="*{email}">
			</div>
			<div class="input_container">
				<label class="input_label" for="phone_field">Phone</label>
				<input placeholder="Phone Number" name="phone" type="tel" class="input_field" id="phone"
					th:field="*{phone}">
			</div>
			<div class="input_container">
				<label class="input_label" for="phone_field">Day Of Birth</label>
				<input placeholder="Phone Number" name="phone" type="date" class="input_field" id="phone"
					th:field="*{dayOfBirth}">
			</div>
			<div class="input_container">
				<label class="input_label" for="password_field">Password</label>
				<input placeholder="Password" name="password" type="password" class="input_field" id="password" th:field="*{password}">
			</div>
			<div class="input_container">
				<label class="input_label" for="confirm_password_field">Confirm Password</label>
				<input placeholder="Confirm Password" name="confirm-password" type="password" class="input_field"
					id="confirm-password">
			</div>
			<div class="checkbox">
				<input class="my-auto" type="checkbox" id="agree" name="agree" required>
				<label for="agree" class="my-auto">
					I agree with the<strong> policies and conditions of use</strong> services of the Website
				</label>
			</div>
			<button title="Sign Up" type="submit" class="sign-in_btn">
				<span>Sign Up</span>
			</button>
			<p class="note">
				Already have an account? <strong><a href="/nextgen.com/login">Sign in</a></strong>
			</p>
		</form>
	</div>
	
	
</body>

</html>