<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::title}, ~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ticket gallery</title>
</head>

<body>
	<div class="container1">
		

		<main class="main-content">
			<div style="margin-left: 30px;">
				<p style="font-size: 30px; font-weight: 600;">Tickets</p>
			</div>
			<section>
				<div class="products ms-3">
					<div class="card" th:each="t : ${tickets}" th:object="${t}">
						<img th:src="@{|/img/*{image}|}" class="card-img-top" alt="..."
							 th:attr="id='ticketImage' + *{id}">
						<div class="card-body text-dark">
							<p class="event">[[*{publisher.name}]]</p>
							<h4 class="title">[[*{name}]]</h4>
							<div style="white-space: pre-line;">[[*{description}]]</div>
							<form method="post" action="/nextgen.com/account/purchase">
								<input name="ticketId" th:value="${t.id}" style="display: none;">
								<button class="tickets" type="submit" >Buy</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			
			<!-- Second Section -->
			<div style="margin-left: 30px; margin-top: 20px;">
				<p style="font-size: 30px; font-weight: 600">Tickets Tranfers</p>
			</div>
			<section>
				<div class="second-section-content">
					<div class="card" th:each="t : ${tickets}" th:object="${t}">
						<img th:src="@{|/img/*{image}|}" class="card-img-top" alt="..."
							 th:attr="id='ticketImage' + *{id}">
						<div class="card-body text-dark">
							<p class="event">[[*{publisher.name}]]</p>
							<h4 class="title">Hà Nội</h4>
							<div style="white-space: pre-line;">[[*{description}]]</div>
							<form method="post" action="/nextgen.com/account/purchase">
								<input name="ticketId" th:value="${t.id}" style="display: none;">
								<button class="tickets" type="submit">Buy</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			
		</main> 
	</div>
</body>

</html>