USE [master]
GO
/****** Object:  Database [TicketingSystem]    Script Date: 09-Apr-24 8:02:50 PM ******/
CREATE DATABASE [TicketingSystem]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketingSystem]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](11) NULL,
	[DayOfBirth] [date] NOT NULL,
	[WalletAddress] [nvarchar](255) NULL,
	[Balance] [decimal](10, 2) NOT NULL,
	[IsPublisher] [bit] NOT NULL,
	[IsAdministrator] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Token] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[AuthorityID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](10) NOT NULL,
	[AccountID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[NFTID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Payment] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NFTs]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFTs](
	[NFTID] [int] IDENTITY(1,1) NOT NULL,
	[NFTAddress] [varchar](1000) NOT NULL,
	[AccountID] [int] NOT NULL,
	[TicketId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[isExpired] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NFTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1500) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleName] [varchar](10) NOT NULL,
	[Description] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketName] [nvarchar](50) NOT NULL,
	[PublisherID] [int] NOT NULL,
	[TicketImage] [nvarchar](150) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[TypeID] [int] NOT NULL,
	[ShelfTime] [int] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketTypes]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradingNFTs]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradingNFTs](
	[TradingID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[NFTID] [int] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TradingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [FirstName], [LastName], [Password], [Email], [Phone], [DayOfBirth], [WalletAddress], [Balance], [IsPublisher], [IsAdministrator], [IsActive], [token]) VALUES (1, N'Trương', N'Toàn Thắng', N'$2a$10$xRSMilFD4aI8n.GdE5eVUuSJ/ZR2yC0noAZGuIZ0q9XL2gqnRo.8e', N'Decede7@gmail.com', N'098234177', CAST(N'2000-01-01' AS Date), N'BqNdMCoGrScQvGMcGBckVyyQXWymDVzD17EsPVj2ZLLV', CAST(0.00 AS Decimal(10, 2)), 0, 1, 1, NULL)
INSERT [dbo].[Accounts] ([AccountID], [FirstName], [LastName], [Password], [Email], [Phone], [DayOfBirth], [WalletAddress], [Balance], [IsPublisher], [IsAdministrator], [IsActive], [token]) VALUES (2, N'Lê', N'Phương Thảo', N'$2a$10$xRSMilFD4aI8n.GdE5eVUuSJ/ZR2yC0noAZGuIZ0q9XL2gqnRo.8e', N'thaoltpps25649@fpt.edu.vn', N'0352462001', CAST(N'2000-01-01' AS Date), N'A9gyWK9tZJ7cBgDxdoAp74oaxJHmxjibzJ6ngCVKVZDN', CAST(0.00 AS Decimal(10, 2)), 0, 0, 1, NULL)
INSERT [dbo].[Accounts] ([AccountID], [FirstName], [LastName], [Password], [Email], [Phone], [DayOfBirth], [WalletAddress], [Balance], [IsPublisher], [IsAdministrator], [IsActive], [token]) VALUES (3, N'Trương', N'Hoàng Nam', N'$2a$10$xRSMilFD4aI8n.GdE5eVUuSJ/ZR2yC0noAZGuIZ0q9XL2gqnRo.8e', N'namthps25634@fpt.edu.vn', N'0921345433', CAST(N'2000-01-01' AS Date), N'BWE9fMTbSbbGvgBXMr8DtS9wBYp1yYF4SU1Y4cSKvcUx', CAST(570000.00 AS Decimal(10, 2)), 1, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Authorities] ON 

INSERT [dbo].[Authorities] ([AuthorityID], [RoleName], [AccountID]) VALUES (6, N'Admin', 6)
INSERT [dbo].[Authorities] ([AuthorityID], [RoleName], [AccountID]) VALUES (7, N'Customer', 1)
INSERT [dbo].[Authorities] ([AuthorityID], [RoleName], [AccountID]) VALUES (2, N'Customer', 2)
SET IDENTITY_INSERT [dbo].[Authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [SellerID], [BuyerID], [InvoiceDate], [NFTID], [Amount], [Payment]) VALUES (1, 3, 2, CAST(N'2024-03-27T00:00:00.000' AS DateTime), 1, CAST(100000.00 AS Decimal(10, 2)), N'sol')
INSERT [dbo].[Invoices] ([InvoiceID], [SellerID], [BuyerID], [InvoiceDate], [NFTID], [Amount], [Payment]) VALUES (2, 3, 2, CAST(N'2024-03-27T00:00:00.000' AS DateTime), 2, CAST(100000.00 AS Decimal(10, 2)), N'sol')
INSERT [dbo].[Invoices] ([InvoiceID], [SellerID], [BuyerID], [InvoiceDate], [NFTID], [Amount], [Payment]) VALUES (3, 3, 2, CAST(N'2024-03-27T00:00:00.000' AS DateTime), 3, CAST(100000.00 AS Decimal(10, 2)), N'sol')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[NFTs] ON 

INSERT [dbo].[NFTs] ([NFTID], [NFTAddress], [AccountID], [TicketId], [CreateDate], [isExpired]) VALUES (1, N'5cygbCT7oSsdNwqdRt8KegDAsG81YfmXtAPdNSxT4PKf', 2, 1, CAST(N'2024-03-27T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[NFTs] ([NFTID], [NFTAddress], [AccountID], [TicketId], [CreateDate], [isExpired]) VALUES (2, N'HZ2KC1R9niy33xk3bEZPGFHB7tKyGY9WSuqdC9MJGJeh', 2, 1, CAST(N'2024-03-27T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[NFTs] ([NFTID], [NFTAddress], [AccountID], [TicketId], [CreateDate], [isExpired]) VALUES (3, N'EtYZSC6yXpFZJk5hRzydMUqqTt1EhRjwfW9NwZ7ioba9', 2, 1, CAST(N'2024-03-27T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[NFTs] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
INSERT [dbo].[Roles] ([RoleName], [Description]) VALUES (N'Admin', N'Quản trị viên')
INSERT [dbo].[Roles] ([RoleName], [Description]) VALUES (N'Customer', N'Khách hàng mua vé')
INSERT [dbo].[Roles] ([RoleName], [Description]) VALUES (N'Manager', N'Giám đốc (quyền cao nhất)')
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [TicketName], [PublisherID], [TicketImage], [Price], [TypeID], [ShelfTime], [Description], [IsActive]) VALUES (1, N'Vé tháng xe buýt nội thành Hà Nội 1 tuyến', 1, N'HANOIBUS.png', CAST(100000.00 AS Decimal(10, 2)), 1, 30, N'Vé dành cho đối tượng không thuộc diện ưu tiên. Vé dùng để di chuyển bằng các tuyến xe buýt trong nội thành Hà Nội.', 1)
INSERT [dbo].[Tickets] ([TicketID], [TicketName], [PublisherID], [TicketImage], [Price], [TypeID], [ShelfTime], [Description], [IsActive]) VALUES (2, N'Vé tháng xe buýt nội thành Hà Nội liên tuyến', 1, N'HANOIBUS.png', CAST(120000.00 AS Decimal(10, 2)), 1, 30, N'Vé dành cho đối tượng không thuộc diện ưu tiên. Vé dùng để di chuyển bằng các tuyến xe buýt trong nội thành Hà Nội.', 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketTypes] ON 

INSERT [dbo].[TicketTypes] ([TypeID], [TypeName]) VALUES (1, N'Vé tháng')
INSERT [dbo].[TicketTypes] ([TypeID], [TypeName]) VALUES (2, N'Tập vé')
SET IDENTITY_INSERT [dbo].[TicketTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[TradingNFTs] ON 

INSERT [dbo].[TradingNFTs] ([TradingID], [AccountID], [NFTID], [Price], [IsAvailable]) VALUES (3, 2, 1, CAST(50000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[TradingNFTs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__A9D10534ECC5F090]    Script Date: 09-Apr-24 8:02:51 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Authorit__F962BB38DE2504DB]    Script Date: 09-Apr-24 8:02:51 PM ******/
ALTER TABLE [dbo].[Authorities] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NFTs__910F23D337AF4F51]    Script Date: 09-Apr-24 8:02:51 PM ******/
ALTER TABLE [dbo].[NFTs] ADD UNIQUE NONCLUSTERED 
(
	[NFTAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Publishe__349DA587B6632696]    Script Date: 09-Apr-24 8:02:51 PM ******/
ALTER TABLE [dbo].[Publishers] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [IsPublisher]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [IsAdministrator]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[NFTs] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[NFTs] ADD  DEFAULT ((0)) FOR [isExpired]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TradingNFTs] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([RoleName])
REFERENCES [dbo].[Roles] ([RoleName])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([NFTID])
REFERENCES [dbo].[NFTs] ([NFTID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[NFTs]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[NFTs]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[Publishers]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[TicketTypes] ([TypeID])
GO
ALTER TABLE [dbo].[TradingNFTs]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_TradingNFTs] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[TradingNFTs] CHECK CONSTRAINT [FK_Accounts_TradingNFTs]
GO
ALTER TABLE [dbo].[TradingNFTs]  WITH CHECK ADD  CONSTRAINT [FK_NFTs_TradingNFTs] FOREIGN KEY([NFTID])
REFERENCES [dbo].[NFTs] ([NFTID])
GO
ALTER TABLE [dbo].[TradingNFTs] CHECK CONSTRAINT [FK_NFTs_TradingNFTs]
GO
/****** Object:  Trigger [dbo].[UPDATE_BALANCE_BY_CREATE_INVOICE]    Script Date: 09-Apr-24 8:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[UPDATE_BALANCE_BY_CREATE_INVOICE]
ON [dbo].[Invoices]
AFTER INSERT
AS
BEGIN
	DECLARE @seller_id INT, @amount DECIMAL(10,2)
	SELECT @seller_id = SellerID, @amount = Amount FROM Inserted
    update Accounts set Balance = Balance + (@amount * 0.95) where AccountID = @seller_id
END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [UPDATE_BALANCE_BY_CREATE_INVOICE]
GO
/****** Object:  Trigger [dbo].[UPDATE_BALANCE_BY_DELETE_INVOICE]    Script Date: 09-Apr-24 8:02:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UPDATE_BALANCE_BY_DELETE_INVOICE]
ON [dbo].[Invoices]
AFTER DELETE
AS
BEGIN
	DECLARE @seller_id INT, @amount DECIMAL(10,2)
	SELECT @seller_id = SellerID, @amount = Amount FROM Deleted
    update Accounts set Balance = Balance - (@amount * 0.95) where AccountID = @seller_id
END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [UPDATE_BALANCE_BY_DELETE_INVOICE]
GO
USE [master]
GO
