<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css_user/home.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css}">
</head>

<body>
	<div th:replace="~{'template-usser/layout/navhome.html'}"></div>

	<!-- Header -->
	<header>
        <div class="img-header">
            <img th:src="@{/img/Thiết kế chưa có tên.png}">
            <div class="text-header">
                <h2>Next-Gen Ticket Bus</h2>
                <p>
                    Buy bus tickets with <br>confidence and convenience.
                </p>
            </div>
            <div class="search-input">
                <input type="text" placeholder="Search by keyword">
                <button type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </header>


	<div class="container-fluid">
		<!-- Section 3: Two Columns with Cards -->
		<div class="section3">
			<!-- Card Container 1 -->
			<div class="card-container">

				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="0" class="active" aria-current="true"
							aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img
								th:src="@{/img/5a0aaec8f58b87bc9cf11f7709c478bd.jpg}"
								class="d-block w-100 slide-img" alt="...">
						</div>
						<div class="carousel-item">
							<img
								th:src="@{/img/240b866e0d710678749769c3de060752.jpg}"
								class="d-block w-100 slide-img" alt="...">
						</div>
						<div class="carousel-item">
							<img
								th:src="@{/img/8e84de64939ba6984fadd6b3ee6633a2.jpg}"
								class="d-block w-100 slide-img" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button"
						data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<!-- Add more cards as needed -->
			</div>

			<!-- Card Container 2 -->
			<div class="card-container2">
				<h3>Wellcom</h3>
				<h1>Next-Gen Ticket Bus</h1>
				<p>Welcome to Next-Gen Ticket Bus Solution! We are proud to
					introduce an advanced bus ticket system, designed to improve the
					passenger experience and optimize the operations of bus service
					operators.</p>
				<p>Our system connects to the Ticketer Smart Gateway to
					communicate with vehicles, creating a connected ecosystem for IT
					infrastructure on buses. For electric vehicles, it also enables
					advanced tracking of energy consumption. The system provides
					real-time information to passengers through journey assistance
					applications and displays at transfer stations. This improves the
					passenger experience and optimizes operator operational management.
					Our ticket machines are integrated with a separate card reader,
					which gives us more information about our passengers' origin and
					destination. This simultaneously enhances the management and
					monitoring capabilities of the system.</p>
				<!-- Add more cards as needed -->
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="~{'template-usser/layout/footer.html'}"></div>
	<!-- JavaScript code for slideshow (similar to the previous example) can be added here -->

</body>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
</html>