<div xmlns:th="http://www.thymeleaf.org" th:fragment="nav"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<!-- Menu -->
	<nav>
		<div class="logo">
			<span><strong>Bus</strong>Ticket</span>
		</div>
		<div class="menu">
			<a th:href="@{/nextgen.com}">Home</a>
			<a th:href="@{/nextgen.com/ticket-gallery}">Shop</a>
			<a href="#">Services</a>
			<a href="#">Contact</a>
		</div>
		<div class="btn-login" sec:authorize="isAnonymous()">
			<a role="button" href="/nextgen.com/login">Login</a>
		</div>
		<div class="user-menu" sec:authorize="isAuthenticated()">

			<div class="user-dropdown">
				<button class="dropbtn">
					<div class="user-pic">
						<i class="bi bi-person-circle"></i>
					</div>
				</button>
				<ul class="user-dropdown-content">
					<li><i class="bi bi-person"></i><a th:href="@{/nextgen.com/account/profile}">Profile</a></li>
					<li sec:authorize="hasRole('Publisher')"><i class="bi bi-gear"></i><a th:href="@{nextgen.com/inforPublisher}"> Publisher</a></li>
					<li sec:authorize="hasAnyRole('Admin','Manager')"><i class="bi bi-gear"></i><a  th:href="@{nextgen.com/admin-view}"> Admin</a></li>
					<li><i class="bi bi-box-arrow-right"></i><a href="/nextgen.com/account/logout">
							Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>	
</div>