* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.paybody {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.paycontainer {
	width: 800px;
	border-radius: 8px;
	padding: 40px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
		0 5px 12px -2px rgba(0, 0, 0, 0.1),
		0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.paycontainer .title {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.paycontainer form input {
	display: none;
}

.paycontainer form .category {
	margin-top: 10px;
	padding-top: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.category label {
	width: 150%;
	/* height: 65px; */
	height: 145px;
	padding: 20px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */


#visa:checked~.category .visaMethod,
#mastercard:checked~.category .mastercardMethod,
#paypal:checked~.category .paypalMethod,
#solana:checked~.category .solanaMethod {
	box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked~.category .visaMethod .check,
#mastercard:checked~.category .mastercardMethod .check,
#paypal:checked~.category .paypalMethod .check,
#solana:checked~.category .solanaMethod .check {
	display: block;
}


label .imgName {
	display: flex;
	/* justify-content: space-between;
     */
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
}

.imgName span {
	/* margin-left: 20px; */
	font-family: Arial, Helvetica, sans-serif;

	position: absolute;
	top: 72%;
	transform: translateY(-72%);
}

.imgName .imgContainer {
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 35%;
	transform: translateY(-35%);
}

img {
	width: 50px;
	height: auto;
}

.visa img {
	width: 80px;
	/* margin-left: 5px; */
}

.mastercard img {
	width: 65px;
}

.paypal img {
	width: 80px;
}

.solana img {
	width: 50px;
}

.check {
	display: none;
	position: absolute;
	top: -4px;
	right: -4px;
}

.check i {
	font-size: 18px;
}

/*----------------------------------------------*/

.paycard {
	border: 1px solid rgba(255, 255, 255, 0.54);
	margin-top: 30px;
	margin-left: 100px;
	display: grid;
	width: 500px;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
		0 5px 12px -2px rgba(0, 0, 0, 0.1),
		0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.paycard .input {
	margin-top: 20px;
	width: 60%;
	height: 40px;
	padding-left: 10px;
	box-shadow: 0px 10px 20px -18px;
	border: 0.5px solid #e7e6e1;
}

.btn-visa {
	margin-top: 20px;
}

.btn-visa button {
	width: 300px;
	height: 35px;
	background-color: #337357;
	border: none;
	color: #FFFFFF;
	font-weight: 600;
}

.btn-visa button:hover {
	background-color: #FFFFFF;
	color: #337357;
	border: 1px solid #337357;
}

/*Bank*/
/* .card-bank {
    border: 1px solid rgba(255, 255, 255, 0.54);
    margin-top: 30px;
    width: 720px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
        0 5px 12px -2px rgba(0, 0, 0, 0.1),
        0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 590px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.input {
    width: 400px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
    border: 1px solid #9e9ea7;
}

.input::placeholder {
    color: #9e9ea7;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.button-bank {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    box-sizing: border-box;
    justify-content: center;
}

.button {
    width: 20%;
    margin: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}

.button img {
    width: 100%;
    height: auto;
   
}
 */