<div xmlns:th="http://www.thymeleaf.org" th:fragment="navadmin"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<div class="header">
		<div class="logo">
			<span><strong>Bus</strong>Ticket</span>
		</div>
		<div class="search-bar">
			<input type="text" placeholder="Search..."> <i
				class="bi bi-search search-icon"></i>
			<!-- Thêm icon tìm kiếm -->
		</div>
		<div class="menu-user">
			<i class="bi bi-person-circle"></i>
			<div class="user-dropdown">
				<a th:href="@{/nextgen.com}"><i class="bi bi-person-fill"></i>Home</a> 
				
				<a href="/nextgen.com/account/logout"><i class="bi bi-box-arrow-in-right"></i>Logout</a>
			</div>
		</div>
	</div>
</div>