<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<div class="sidebar">
		<p>Menu</p>
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link" href="/nextgen.com/admin-view"><i class="bi bi-people-fill"></i>Account</a></li>
			<li class="nav-item"><a class="nav-link" href="/nextgen.com/admin-view-ticket"><i class="bi bi-ticket-perforated-fill"></i>Ticket</a></li>
			<li class="nav-item"><a class="nav-link" href="/nextgen.com/admin-view-publisher"><i class="bi bi-building"></i>Publisher</a></li>
			<li class="nav-item"><a class="nav-link" href="/nextgen.com/admin-view-invoice"><i class="bi bi-filter-square-fill"></i>Invoice</a></li>
		</ul>
	</div>
</div>